body {
background-color: #212121;
}
.bg-starlight-purple {
background-color: #2e1a96;

}
.nav-link {
color: #e9e8eb !important;
}
.nav-link:hover {
color: #6e02fa;
}
.navbar-toggler-bg {
background-color: #FFFFFF !important;
}
.navbar-toggler-icon-color {
color: #000000 !important;
}
