body {
background-color: #212121;
font-family: "Open Sans", sans-serif !important;
font-style: normal;
}
.nav-bg-starlight-purple {
background-color: #2e1a96;

}
.bg-starlight-purple {
background-color: #2e1a96;
border: 2px solid #34ebc9;
}
.bg-starlight-blue {
background-color: #34ebc9;
}
.nav-link {
color: #e9e8eb !important;
transition: color 0.09s ease 0.09s;
}
.nav-link:hover {
color: #8602fa !important;
}
.navbar-toggler-bg {
background-color: #FFFFFF !important;
}
.navbar-toggler-icon-color {
color: #000000 !important;
}
.carousel-indicators{
margin-bottom: -2rem !important;
}
