body {
background-color: #212121;
font-family: "Open Sans", sans-serif !important;
font-style: normal;
}
.nav-bg-starlight-purple {
background-color: #2e1a96;

}
.bg-starlight-purple {
background-color: #2e1a96;
border: 2px solid #34ebc9;
}
.bg-starlight-blue {
background-color: #34ebc9;
}
.nav-link {
color: #e9e8eb !important;
transition: color 0.09s ease 0.09s;
}
.nav-link:hover {
color: #34ebc9 !important;
}
.navbar-toggler-bg {
background-color: #FFFFFF !important;
}
.navbar-toggler-icon-color {
color: #000000 !important;
}
.carousel-indicators{
margin-bottom: -2rem !important;
}
.btn-starlight-purple {
--bs-btn-color: #fff;
    --bs-btn-bg: #2e1a96;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3d2b99;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3d2b99;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
